@font-face {
	font-family: "Zwo Pro", sans-serif;
	/*src: url(zwo_pro.woff);*/
}

body {
	margin-top: 0px;
	font-family: "Zwo Pro";
	/*color: rgb(77,77,77);*/
}

/*grüne headline*/
h1 {
	font-size: 24px;/*1,5em*/
	font-weight: bold;
	line-height: 3,75em;
	color: rgb(121,173,38);

	margin-bottom: 60px;
}

/*weiße headline*/
h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 3,75em;
	color: rgb(255,255,255);

	margin-bottom: 60px;
}

/*subhead*/
h3 {
	font-size: 21px;/*0,875em*/
	font-weight: bold;
	color: rgb(77,77,77);


	margin-bottom: 40px;
	margin-top: 70px;
}

/*sub-subhead*/
h4 {
	font-size: 14px;/*0,875em*/
	font-weight: bold;
	color: rgb(77,77,77);
}

/*btn*/
h5 {
	font-size: 0,875em;
	font-weight: bold;
	color: rgb(77,77,77);
	text-align: center;
}

/*sub-subhead in gruen*/
h6 {
	font-size: 0,875em;
	font-weight: bold;
	color: rgb(121,173,38);
}

titel {
	font-size: 50px;
	font-weight: bold;
	color: rgb(255,255,255);
}

subtitel {
	font-size: 20px;
	color: rgb(255,255,255);
}

/* MARTIN ADDITIONS */
.absoluteBottom {
	position: absolute;
	bottom: 30%;
	width: 50%;
	left: 50%;
	margin-left: -20%;
	z-index: 10;
}
.absoluteBottom h1 {
	margin: 0;
	padding: 0;
	font-size: 300px;
	text-align: center;
	color: rgb(121,173,38);
}
.absoluteBottom h2 {
	margin: 0;
	padding: 0;	
	font-size: 100px;
	font-style: italic;
	font-weight: lighter;
	text-align: center;
	color: #fff;
}
.postionRelative {
	position: relative;
}
/* MARTIN ADDITIONS */


/*fliesstext*/
p {
	font-size: 14px; /*0,875em*/
	line-height: 23px;
	font-weight: normal;
	line-height: 1,5625em; /*25px*/
	color: rgb(77,77,77);

}

/*italic*/
span {
	font-size: 16px; /*18px*/
	line-height: 30px;
	font-style: italic;
	color: rgb(77,77,77);
}

.navbar .navbar-default {
	z-index: 20;
}

.navbar {
	min-height: 0;
	border: none;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-collapse {
	background-color: rgb(255,255,255);
	padding: 0;
}

.nav-tabs>li>a {
	font-weight: bold;
}

a:link, a:hover, a:active, a:focus, a:visited {
	color: inherit;
	text-decoration: none;
} 

a:hover{
	text-decoration: none;
	color: rgb(121,173,38);
}

.titel {
	position: absolute;

	margin-top: 600px;
	margin-left: 500px;
}

.subtitel {
	position: absolute;

	margin-top: 680px;
	margin-left: 540px;
}

.pfeil {
	position: absolute;
	margin-top: 500px;
	margin-left: 720px;

	width: 20px;
	height: 16px;

	-o-animation: pfeilAnimation 2s ease-in-out infinite;
	-webkit-animation: pfeilAnimation 2s ease-in-out infinite;
	-moz-animation: pfeilAnimation 2s ease-in-out infinite;
	animation: pfeilAnimation 2s ease-in-out infinite;
}

.box_welcome {
	text-align: center;
	padding: 40px 40px 40px 40px;
}

.welcome {
	padding: 0;
	height: 400px;
	background-color: white;
}

.gruen_box {
	background-color: rgb(121,173,38);
	height: 400px;
	margin: 0;
	padding: 0;
}

.box_milon {
	padding: 40px 200px 40px 100px;
}

.container .zirkel {
	background-color: white;
	height: 500px;
}

.container .angebot {
	background-color: rgb(121,173,38);
	height: 500px;
}
/* hier die background color für angebote reinschreiben*/
.fullGreen {
	background-color: green;
}

.italic_box {
	background-color: white;
	padding-top: 130px;
	padding-bottom: 130px;
}

.box_background {
	background-color: rgb(121,173,38);
	height: 400px;
	padding: 0;
}

.background_weiss {
	margin-top: 90px;
	background-color: white;
	height: 600px;
}

.abstand {
	margin: 0;
}

.btn {
	background-color: white;
	height: 250px;
	width: 250px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(121,173,38);
	border-radius: 0px;
	padding: 30px;
}

.btn:hover {
	background-color: rgb(121,173,38);
}

.btn-text .first-link {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;     
}

.first-link {
}

.btn:hover .first-link {
	margin-top: -80px; 
}

.btn_icon {
	padding-top: 90px;
	padding-bottom: 10px;
}

.container .dropdown-text {
	background-color: white;
}

.kursplan-button {
	padding-top: 90px;
}

.button-kursplan {
	width: 150px;
	height: 40px;
	background-color: rgb(77,77,77);
}

.dropdown-text {
	margin-top: 100px;
}

.rand {
	padding: 0px;
}

.img_galerie {
	float: left;
}

.img:hover {
	background-color: rgb(121,173,38);
}

.background-weiss2 {
	background-color: white;
	height: 400px;
}

.box_relex {
	text-align: center;
	background-color: white;
	width: 100%;
	height: 500px;
}

.abstand1 {
	padding-top: 100px;
	padding-bottom: 40px;
}

.begrenzung {
	width: 50%;
	left: 50%;
	margin-left: 25%;
	bottom: 90px;
	text-align: center;
}

.box_dynamic {
	padding: 0px;
	background-color: white;
	height: 400px;
}

.btn-icon {
	float: left;
}

.icon-news {
	padding: 15px 33px 20px 10px;
}

.icon-wellness {
	padding: 7px 20px 20px 10px;
}

.icon-studio {
	padding: 15px 33px 20px 10px;
}

.btn2 {
	height: 133px;
	padding-top: 35px;
	padding-left: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(121,173,38);
	border-radius: 0px;
}

.aktiv {
	background-color: rgb(77,77,77);
}

.box_dynamic.gruen {
	background-color: rgb(121,173,38);
}

.wellness-text {
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 190px;
}

.box_kontakt {
	background-color: white;
	text-align: center;
	height: 140px;
}

.box_kontakt_txt {
	margin-top: 70px;
}

.box_pull_down {
	width: 100%;
	height: 60px;
	background-color: rgb(121,173,38);
	text-align: center;
	padding-top: 10px;
}

.kursplan {
	height: 800px;
	background-color: white;
}

.text-weiss {
	color: white;
}

.text-weiss:hover{
	/*color: rgb(77,77,77);*/
}

.button-maps {
	text-decoration: none;
	background-color: transparent;
}

.box_back {
	background-color: rgb(77,77,77);
	height: 700px;
}

.contact h3 {
	color: rgb(255,255,255);
}

.contact p {
	color: rgb(255,255,255);
}

.icon_contact {
	float: left;
	padding: 30px;
	color: rgb(255,255,255);
}  

.nopad {
	padding: 0;
}


/************************
*		ANIMATIONS		*
************************/
/*pfeil-header*/

@-webkit-keyframes pfeilAnimation {
	100% { 
		margin-top: 775px;
	}
}

@-o-keyframes pfeilAnimation {
	100% { 
		margin-top: 775px;

	}
}

@-moz-keyframes pfeilAnimation {
	100% { 
		margin-top: 775px;

	}
}

@keyframes pfeilAnimation {
	100% { 
		margin-top: 775px;

	}
}

.icon1 {
	background-image: url(img/bodycombat.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.btn-text-italic {
	display: none;
}

.testButtonClass:hover > .btn-text-italic {
	display: inline;
}


image {
	opacity: 1.0;
	-webkit-transition: 0.25s;
	
}
image:hover {
	opacity: 0.5;
}
